@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,400;0,500;1,100;1,400;1,500&display=swap');

//Fuentes
$font_1: 'Open Sans', sans-serif;
$font_2: 'Roboto', sans-serif;

//Fuentes_Tamaño
$font-size_h1: 60px;
$font-size_h2: 42px;
$font-size_h3: 32px;
$font-size_h4: 18px;
$font-size_p: 16px;

//Fuentes_color
$color_1: black;
$color_2: white;
$color_3: orangered;
$color_4: rgba(128, 128, 128, 0.611);
