@import "../sass/variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	scroll-behavior: smooth;
}

/*Estilos_Generales*/
a:link, a:visited{
	text-decoration: none;
}
.container .row{
	margin-bottom: 3rem;
}
/*Inicio_NavBar*/
.navbar-brand > img {
	width: 100px;
}
.navbar {
    a {
	    color: black;
	    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.308);
    }
}    
.navbarlogo {
    a:hover{
	    background: orangered;
	    color: whitesmoke;
        border-radius: 0.5rem;
    }
}
/*Fin_NavBar*/

/*Inicio_Header*/
.header-main {
	height: 100vh;
}
.photooffice {
	height: 400px;
}
/*Fin_Header*/

/*Inicio_Tarjeta_Mis_Publicaciones*/
.publicaciones {
	margin-top: 6rem;
	margin-bottom: 3rem;
}
.icon-service {
	--box-size: 70px;
	width: var(--box-size);
	height: var(--box-size);
	padding: 10px;
}
/*Fin_Tarjeta_Mis_Publicaciones*/

/*Acerca_de_Mí*/
.acercademi{
	margin-top: 6rem;
	margin-bottom: 3rem;
}
/*Servicios*/
.servicios {
	margin-top: 6rem;
	margin-bottom: 3rem;
}

/*Inicio_Formulario*/
.contact{
	margin-top: 6rem;
	margin-bottom: 3rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 3rem;
    
    .contact-text {
        h3{
	        margin: 60px 0;
	        font-size: 20px;
	        font-weight: 600;
        }
        h2{
	        font-size: 30px;
        }
        p{
	        font-size: 20px;
	        line-height: 30px;
	        margin-bottom: 2rem;
        }
    }
    .contact-list{
	    margin-bottom: 3rem;
            li{
	            margin-bottom: 10px;
	            display: block;
            }
            a{
	            display: block;
	            color: rgba(0, 0, 0, 0.5);
	            font-size: 20px;
	            font-weight: 600;
	            transition: all .40s ease;
            }
            a:hover{
                transform: scale(1.01) translateY(-5px);
	            color: red;
	            text-decoration: none;
            }
    }

    .contact-icons {
        i{
	    height: 40px;
	    width: 40px;
	    border-radius: 0.5rem;
	    color: $color_3;
	    display: inline-flex;
	    align-items: center;
	    justify-content: center;
	    font-size: 40px;
	    margin-right: 10px;
	    transition: all .40s ease;
	    text-decoration: none;
        }
        i:hover{
	    transform: scale(1.01) translateY(-5px);
	    color: blueviolet;
	    text-decoration: none;
        }
        a{
            text-decoration: none;
        }
    }
    .contact-form {
        form{
	        position: relative;
        }
        form input,
        form textarea{
	    border: none;
	    outline: none;
	    width: 100%;
	    padding: 18px;
	    background: #12141c1e;
	    font-size: 1rem;
	    font-weight: 600;
	    margin-bottom: 0.5rem;
	    border-radius: 0.5rem;
        }
        textarea{
	    resize: none;
	    height: 220px;
        }
        form .send{
	    display: inline-block;
	    font-size: 20px;
	    font-weight: 500;
	    background: rgba(0, 0, 0, 0.127);
	    color: orangered;
	    width: 190px;
	    transition: all .40s ease;
	    cursor: pointer;
        }
    }
}
/*Fin_Formulario*/



/*Inicio_Contacto*/
.mail_estilo {
	color: black;
}
.nav {
    a {
	    color: black;
    }
}
.logo {
    a{
	    margin-bottom: 1rem;
    }
}
/*Fin_contacto*/


/*Inicio Responsive*/
@media screen and (max-width: 376px){
	body{
		margin-top: 4rem;
	}
	.header-main {
		height: initial;
	}
	.photooffice {
		height: 240px;
	}
	.photo-frame a{
		font-size: 14px;
	}
}
