$color_1: black;
$color_2: white;
$color_3: orangered;
$color_4: rgba(128, 128, 128, 0.611);

$font-size_h1: 60px;
$font-size_h2: 42px;
$font-size_h3: 32px;
$font-size_h4: 18px;
$font-size_p: 16px;




